.parent-container{
    
    background-image: radial-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
        url(wallpaper4.jpg);
    background-size: 100% 100%;
}
/*header nav bar*/

 .logo img{
    width: 100px;
}

.logo{
    width: 200px;
    margin-left: 40px;
}

div header nav ul{
    float: right;
    margin-top: -60px;
    margin-right: 400px;
}


div header nav ul li{
    display: inline;
    padding-right: 15px;
}


div header nav ul li a{
    color: gray;
    font-weight:;
    text-decoration: none;
    font-family: cursive;
}


div header nav ul li a:hover, .selected{
    color: red;
    font-weight: bolder;
    text-decoration:underline;
    
}


div header nav form input{
    width: 300px;
    margin-left: 50px;
    background: none;
    border: none;
    color: white;
    border-bottom: 1px solid white;
}


div header nav form input:focus{
    border: none;
    box-decoration-break: none;
    box-shadow: none;
}


div header nav form{
    float: right;
    margin-top: -60px;
    margin-right: 20px;
}


div header nav form button{
    color: white;
    border-style: none;
    background: none;
    font-size: 20px;
}


div header nav form button i:hover{
color: deepskyblue;
}

/*main section*/

section{
    width: 100%;
    height: 200px;
    text-align: center;
    color: gray;
    margin-top: 0px
}

section h1{
    font-size: 25px;
    margin-top: 0px;
}

section h1 span{
    color: red;
    font-family:fantasy;
}

section li{
    display: inline;
    margin: 30px;
}

section .btn{
    margin-top: 50px;
}
section li a{
    color: white;
    text-decoration-style:double;
    }

section li a:hover{
    color: red;
    font-weight: bold

}

footer{
    text-align: center;
}

footer i{
    padding-left: 30px;
    width: 30px;
    margin-top: 10px
}

.fa{
    font-size: 25px;
}

.fa-android:hover,.fa-apple:hover,.fa-windows:hover{
    color: gray;
    transition-duration: 0.5s;
}

.body{
    text-align: center;
    padding: 0px 300px;
}
.body h1{
    color: gray
}
.body p{
    color: #a9a9a9;
}

.small{
    display: flex;
}
.small h3{
    margin:10px 60px;
    color: aqua;
}

.bottom{
    width: 100%;
    height: 120px;
    background-color: aqua;
    margin-top: 50px;
    font-size: 20px;
    color: white;
    text-align: center;
}

